@{
    ViewData["Title"] = "Home Page";


}
<link href="lib/fontawesome/css/fontawesome.min.css" rel="stylesheet">

<video autoplay muted loop id="bg-video">
    <source src="extra/rickandmortyscape.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div class="content">
    <div class="centered-image">
        <img src="extra/RickAndMortyTitle.png" alt="">
    </div>

    <div class="centered-button">
        <a href="/Personaje/VistaPersonaje">
            <img src="extra/Viajar2.png" alt="" class="blink">
        </a>
    </div>
</div>





